_site
scripts/__pycache__/convert_notebooks.cpython-311.pyc
_posts/*_IPYNB_2_.md
nohup.out
Gemfile.lock
_notebooks/2023-09-3-ChatGPT-Interaction.ipynb
_posts/2023-09-06-stockticker-graph.md
_posts/2023-09-06-song-fetcher.md